@model HelloWorldMVC.ViewModels.PersonaddPersonViewModels


@{
    ViewBag.Title = "addPerson";
}

<h2>addPerson</h2>
  
    <b>PERSONAL INFORMATION</b> <br />
    name: @Model.person.name <br/>
    age: @Model.person.age <br />
    category: @Model.person.category <br/>

    <b>COMPANY INFORMATION</b><br/>
    Company name: @Model.emp.companyName <br />
    Address: @Model.emp.address <br />
    Contact: @Model.emp.contactNum <br />

 



