
@{
    ViewBag.Title = "FormAddPerson";
}

@using (Html.BeginForm("addPerson", "Person", FormMethod.Post))
{
    @Html.Label("Please enter name: ")
    @Html.TextBox("name","Firdaus")<br/>
    
    @Html.Label("Please enter year of birth: ")
    @Html.TextBox("yob")<br/>
        
    @Html.Label("Company: ")
    @Html.TextBox("companyName")<br/>
        
    @Html.Label("Company contact number: ")
    @Html.TextBox("contactNum")<br/>
        
}


<h2>FormAddPerson</h2>
<form action="addPerson" method="get">
    <b>Personal Information</b> <br />
    <br />
    Name            :   <input type="text" name="name"/><br />
    Year of birth   :   <input type="number" name="yob"/><br />

    <br /><br />

    <b>Company Information</b><br />
    <br />
    Company Name    :  <input type="text" name="companyName"/><br />
    Company Address :  <input type="text" name="address" /><br />
    Contact Number  :   <input type="number" name="contactNum"/><br />



    <button type="submit" name="btnSubmit">Save This Info</button>
</form>


