@model chanchos.Models.Product

@{
    ViewBag.Title = "Order";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductImage)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductImage)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
        @Html.ActionLink("Confirm", "checkout")
    </p>
</body>
</html>
